@font-face {
  font-family: 'iconfont';  /* Project id 3669874 */
  src: url('//at.alicdn.com/t/c/font_3669874_87gpwejpjko.woff2?t=1664439522305') format('woff2'),
       url('//at.alicdn.com/t/c/font_3669874_87gpwejpjko.woff?t=1664439522305') format('woff'),
       url('//at.alicdn.com/t/c/font_3669874_87gpwejpjko.ttf?t=1664439522305') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.adm-quanping:before {
  content: "\e626";
}

.adm-quxiaoquanping_o:before {
  content: "\eb98";
}

.adm-shuaxin:before {
  content: "\e782";
}

.adm-zhedie2:before {
  content: "\e620";
}

.adm-zhedie1:before {
  content: "\e621";
}

.adm-B:before {
  content: "\e707";
}

.adm-B1:before {
  content: "\e70f";
}

